.bach {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 60vw;
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  color: white;
  font-family: 'rubik', sans-serif;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 38vh;
  padding: 0.6rem;
  background: none;
  box-shadow: none;
  border-radius: 0;
}


.bach-top-square {
 display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 32px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 22px;
  padding: 32px 38px;
  width: 100%;
  gap: 18px 12px;
   box-sizing: border-box;
  justify-items: center;   /* Center items horizontally */
  align-items: center;     /* Center items vertically */
} 

.bottom-row {
  display: flex;
  justify-content: space-between;
   width: 100%;
  gap: 40px;
  margin-top: 0;
}

.left-section, .right-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  height: 50%;
  align-items: start;
  text-align: right; 
}
.sub-header {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 18px;
  color: #fff;
  text-align: center;
  text-decoration: underline;
}




.item2 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  position: relative; 
  cursor: pointer; 
  display: inline-block;
  
}
.item2::after {
  content: '';
  position: absolute;
  bottom: 0; /* Position the line at the bottom of the text */
  right: 0;
  width: 0; /* Start with no width */
  height: 2px; /* Thickness of the underline */
  background-color: #FF4500; 
  transition: width 0.3s ease; /* Smooth animation for the underline */
}



.item2:hover::after {
  width: 100%; /* Expand the underline to full width on hover */
}

.bach-square {
  background: rgba(0,0,0,0.7);
  border-radius: 18px;
  padding: 32px 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 12px rgba(0,0,0,0.15);
   box-sizing: border-box;
}
.bach-square-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 24px;
  width: 100%;
  justify-items: center;
}

@media (max-width: 1150px) {
  .bach {
    font-size: 2rem; 
    width: 65%; 
  }
  .vertical-divider {
    display: none; 
  }

 
}