.bottom-nav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%; /* Adjust width to fit the circles */
    cursor: pointer;
    z-index: 3;
  }

  @media (max-width: 1300px) {
    .bottom-nav {
      width: 40%; /* Adjust width for smaller screens */
    }

  }

  @media (max-width: 800px) {
    .bottom-nav {
      display: none !important;
    }
  }