.Miktzot {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  height: 22vh;
  width: 50vw;
  color: white;
  font-family: 'rubik', sans-serif;
  transform: translate(-50%, -50%);
  left: 47%;
  top: 40vh;
  border-radius: 15px;
  padding: 20px;
}

.miktzot-top-row,
.miktzot-bottom-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 22px;
  padding: 18px 2px;
  width: 90%;
  gap: 20px 12px;
  justify-items: center;   /* Center items horizontally */
  align-items: center;     /* Center items vertically */
}

.item2 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.item2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FF4500;
  transition: width 0.3s ease;
}

.item2:hover::after {
  width: 100%;
}